# Facebook (Meta) Pixel ID – naudojamas reklamų sekimui ir optimizacijai.
# Gauti: Facebook Events Manager > Data Sources > Add pixel > Create > nukopijuoti Pixel ID.
# Jei paliksite tuščią, pikselis nebus įkeltas.
VITE_FB_PIXEL_ID=
